#!/bin/bash
# {{ ansible_managed }}
# ---
{# /etc/update-motd.d/00-legal #}

temp_file=$(mktemp)
cat << EOFHEREDOC > "$temp_file"
{% include 'templates/issue.net.jinja2' | replace('HEREDOC', 'EOF HEREDOC') %}
EOFHEREDOC

if ! command -v boxes &> /dev/null; then
  cat "${temp_file}"
else
  boxes -d parchment < "${temp_file}"
fi